@import url(../components/c3/c3.css);.aew-widget{text-align:center;border:4px solid #EEE;border-radius:5px;background:#FFF;box-shadow:0 0 2px rgba(0,0,0,0.1);padding:0 30px 30px 0;font-family:Arial, sans-serif}.aew-widget .aew-widget-title{margin:10px 0 0 0}
